.hero-section {
  height: 100vh;
  background: url("/img/rag.jpeg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-section > div {
  position: relative;
  z-index: 2;
}
